*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    display:flex;
    justify-content:space-around; 
    margin-top:20px;
    padding:15px;

}
.header span{
    font-size:30px;
}
.header span:hover{
    font-size:10px;
    color:green;
    cursor:pointer;
}

.header ul {
 display:flex;
  align-items:center ;
  
}
.header ul li {
    font-size:26px;
    list-style:none;
    margin-left:27px;
}
.contact img{
  width:100%;
  height:400px;
  background-size:cover;
 background-position: center center;
}
.section{
    /* margin-left:0px; */
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-left:170px;
}
.details{
    display:flex;
    align-items:center;
    justify-content: center
}